[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
environs = "*"
fastapi = "*"
uvicorn = "*"
aioredis = "*"
redis = "*"
motor = "*"
sqlalchemy = "*"
geoip2 = "*"
user-agents = "*"
httpx = "*"

[dev-packages]
hupper = "*"
debugpy = "*"
pytest = "*"
pytest-cov = "*"

[requires]
python_version = "3.11"
